/homework/02/cmake-build-debug/
/homework/02/.idea/
/homework/03/NST/cmake-build-debug/
/homework/03/NST/.idea/
/homework/05/minesweeper/.idea/
/homework/05/minesweeper/cmake-build-debug/
/homework/05/PickUpInRange/.idea/
/homework/05/PickUpInRange/cmake-build-debug/

/homework/05/IronPuzzle/.idea/
/homework/05/IronPuzzle/cmake-build-debug/
/homework/05/untitled/.idea/
/homework/05/untitled/cmake-build-debug/